params {
    max_cores = 3 //Runtime.runtime.availableProcessors()
    cores = "2"
    memory = 8.GB

    profile = false
    help = false

    // input
    species = ''
    genus = ''
    se_reads = ''
    pe_reads = ''

    fastp_additional_params = '-5 -3 -W 4 -M 20 -l 15 -x -n 5 -z 6'
    hisat2_additional_params = ''
    
    // folder structure
    output = 'results'
    multiqc_dir = 'Summary'
    quast_dir = 'Summary'
    fastp_dir = '01-Trimming/fastp'
    kmergenie_dir = ''
    spades_dir = ''
    soapdenovo2_dir = ''
    star_dir = ''
    cap3_dir = ''
    diamond_dir = ''

    // location for storing the conda environments
    condaCacheDir = 'conda'
    // location for storing the singularity images
    singularityCacheDir = 'singularity'

    // softlink results instead of copying
    softlink_results = false
}

// report {
//   enabled = true
//   file = "execution_report.html"
// }

profiles {
    ////////////////////////////////////////////////////
    // executors

    local {
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }
        params.cloudProcess = false
        includeConfig 'configs/local.config'
    }
    
    ////////////////////////////////////////////////////
    // engines 

    conda {
        // can be removed if we have working conda envs for all tools!
        docker { enabled = true }
        conda{
            cacheDir = params.condaCacheDir
            timeout = '45 min'
        }
        includeConfig 'configs/conda.config'
    }

    // local execution with conda
    standard {
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }
        params.cloudProcess = false
        conda { cacheDir = params.condaCacheDir }
        includeConfig 'configs/local.config'
        includeConfig 'configs/conda.config' 
    }
    
    // ARA specific profile
    ara {
        params.cloudProcess = true
      	params.workdir = "/beegfs/rna-hta/$USER/work"
        params.permanentCacheDir = "/beegfs/rna-hta/nextflow-rnaflow-autodownload/"
        conda { cacheDir = "/beegfs/rna-hta/$USER/nextflow-conda-cache" }
        process {
            clusterOptions = '--partition=s_standard,s_fat,b_standard,b_fat'
            withLabel: smallTask { executor = 'local' }
        }
        executor {
            name = "slurm"
            queueSize = 100
        }        
        process.cache = "lenient"
        includeConfig 'configs/nodes.config'
        includeConfig 'configs/conda.config' }
}