manifest {
    mainScript = 'mt.nf'
}

params {
    max_cores = 3 //Runtime.runtime.availableProcessors()
    cores = "2"
    memory = 8.GB

    profile = false
    help = false

    // input
    genus = ''
    se_reads = ''
    pe_reads = ''
    reference_genome = ''
    reference_annotation = '' // needs reference_genome

    fastp_additional_params = '-5 -3 -W 4 -M 20 -l 15 -x -n 5 -z 6'
    hisat2_additional_params = ''
    genetic_code = '4'

    contig_len_filter = 8000 // 10000
    contig_high_read_cov_filter = true
    
    // folder structure
    output = 'results'
    // multiqc_dir = 'Summary'
    // quast_dir = 'Summary'

    // location for storing the conda environments
    condaCacheDir = 'conda'
    // location for storing the singularity images
    singularityCacheDir = 'singularity'

    // softlink results instead of copying
    softlink_results = false
}

// report {
//   enabled = true
//   file = "execution_report.html"
// }

profiles {
    ////////////////////////////////////////////////////
    // executors

    local {
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }
        includeConfig 'configs/local.config'
    }
    
    ////////////////////////////////////////////////////
    // engines 

    conda {
        conda{
            cacheDir = params.condaCacheDir
            timeout = '45 min'
        }
        includeConfig 'configs/conda.config'
    }

    // local execution with conda
    standard {
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }
        conda { cacheDir = params.condaCacheDir }
        includeConfig 'configs/local.config'
        includeConfig 'configs/conda.config' 
    }
    
    // ARA specific profile
    ara {
        conda { cacheDir = "/beegfs/rna-hta/$USER/mt-conda-cache" }
        process {
            clusterOptions = '--partition=s_standard,s_fat,b_standard,b_fat'
            withLabel: smallTask { executor = 'local' }
        }
        executor {
            name = "slurm"
            queueSize = 100
        }        
        process.cache = "lenient"
        includeConfig 'configs/nodes.config'
        includeConfig 'configs/conda.config' }
}