process {
    withLabel: fastqc { conda = "$baseDir/envs/fastqc.yml" } 
    withLabel: fastp { conda = "$baseDir/envs/fastp.yml" } 
    withLabel: spades { conda = "$baseDir/envs/spades.yml" } 
    withLabel: kmergenie { conda = "$baseDir/envs/kmergenie.yml" } 
    withLabel: soapdenovo2 { conda = "$baseDir/envs/soapdenovo2.yml" } 
    withLabel: python { conda = "$baseDir/envs/python.yml" }
    withLabel: hisat2 { conda = "$baseDir/envs/hisat2.yml" } 
    withLabel: multiqc { conda = "$baseDir/envs/multiqc.yml" } 
    withLabel: quast { conda = "$baseDir/envs/quast.yml" }
    withLabel: cap3 { conda = "$baseDir/envs/cap3.yml" }
    withLabel: blast { conda = "$baseDir/envs/blast.yml" }
    withLabel: diamond { conda = "$baseDir/envs/diamond.yml" }
    withLabel: megadepth { conda = "$baseDir/envs/megadepth.yml" }
    withLabel: mitos { conda = "$baseDir/envs/mitos.yml" }
}