process {
    //; memory = params.memory
    withLabel: fastqc { cpus = params.cores }
    withLabel: fastp { cpus = params.cores }
    withLabel: python { cpus = 1 }
    withLabel: spades { cpus = params.cores }
    withLabel: kmergenie { cpus = params.cores }
    withLabel: soapdenovo2 { cpus = params.cores }
}