process {   
    withLabel: fastqc { cpus = 2; memory = { 30 GB * params.memory_multiplier } }
    withLabel: fastp { cpus = 24; memory = { 30 GB * params.memory_multiplier } }
    withLabel: python { cpus = 1; memory = { 2 GB * params.memory_multiplier } }
    withLabel: spades { cpus = 24; memory = { 40 GB * params.memory_multiplier } }
    withLabel: kmergenie { cpus = 24; memory = { 30 GB * params.memory_multiplier } }
    withLabel: soapdenovo2 { cpus = 24; memory = { 40 GB * params.memory_multiplier } }
    withLabel: hisat2 { cpus = 24 ; memory = { 70.GB * task.attempt } ; maxRetries = 3 ; errorStrategy = { task.exitStatus in 134 ? {retry{ : {terminate{ } }
    withLabel: blast { cpus = 24; memory = { 800.GB * task.attempt } ; maxRetries = 3 }
    withLabel: mmseqs2 { cpus = 24; memory = { 30 GB * params.memory_multiplier } }
    withLabel: quast { cpus = 24; memory = { 30 GB * params.memory_multiplier } }
    withLabel: mitos { cpus = 1; memory = { 30 GB * params.memory_multiplier } }
    withLabel: multiqc { cpus = 1; memory = { 2 GB * params.memory_multiplier } }
    withLabel: cap3 { cpus = 1; memory = { 40 GB * params.memory_multiplier } }
    withLabel: megadepth { cpus = 1; memory = { 2 GB * params.memory_multiplier } }
    withLabel: smallTask { cpus = 1 }
}