process {   
    withLabel: fastqc { cpus = 2; memory = '30 GB' }
    withLabel: fastp { cpus = 24; memory = '30 GB' }
    withLabel: python { cpus = 1; memory = '2 GB' }
    withLabel: spades { cpus = 24; memory = '40 GB' }
    withLabel: kmergenie { cpus = 24; memory = '30 GB' }
    withLabel: soapdenovo2 { cpus = 24; memory = '40 GB' }
    withLabel: hisat2 { cpus = 24 ; memory = { 70.GB * task.attempt } ; maxRetries = 3 ; errorStrategy = { task.exitStatus in 134 ? 'retry' : 'terminate' } }
    withLabel: blast { cpus = 24; memory = { 800.GB * task.attempt } ; maxRetries = 3 }
    withLabel: diamond { cpus = 24; memory = '30 GB' }
    withLabel: mmseqs2 { cpus = 24; memory = '30 GB' }
    withLabel: quast { cpus = 24; memory = '30 GB' }
    withLabel: mitos { cpus = 1; memory = '30 GB' }
    withLabel: multiqc { cpus = 1; memory = '2 GB' }
    withLabel: cap3 { cpus = 1; memory = '40 GB' }
    withLabel: megadepth { cpus = 1; memory = '2 GB' }
    withLabel: smallTask { cpus = 1 }
}